@import "selectize.css";

@import "selectize.bootstrap3.css";
@charset "utf-8";
/*
 * default style definition
 */
body {
  margin: 0;
  padding: 0;
  font-size: 75%;
  line-height: 1.5em;
  font-family: "Malgun Gothic", "Lucida Grande", Tahoma, Verdana, AppleGothic, UnDotum, sans-serif;
}
form,
ul,
li {
  margin: 0;
  padding: 0;
}
hr {
  display: none;
}
p,
div,
th,
td,
select,
input {
  color: #809196;
}
a:link,
a:visited {
  color: #666;
  text-decoration: none;
}
a:active,
a:hover {
  color: #000;
  text-decoration: none;
}
a img,
input.type-image {
  border: 0 none;
}
input.type-text,
textarea {
  border: 1px solid #ddd;
  background: #fff;
  padding: 1px;
}
input.type-text:hover,
input.type-text:focus,
textarea:hover,
textarea:focus,
select:hover,
select:active {
  background-color: #ffd;
}
input,
select,
textarea {
  vertical-align: middle;
  font-size: 1em;
  color: #333;
}
select {
  font-size: 11px;
  font-family: Dotum, "돋움", sans-serif;
}
span.button,
img.button,
a.button {
  cursor: pointer;
  vertical-align: middle;
}
ol,
ul {
  list-style: none;
}
body {
  background-color: #dce3e5 !important;
}
.header {
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.9);
  background-image: url(../images/bg_header.jpeg);
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  clear: both;
  display: block;
  padding: 4em 1em;
}
.header h1 {
  text-align: center;
  font-size: 5em;
  margin: 0 0 0.5em 0;
}
.header h1 > span {
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}
.header h1 > .span1 {
  color: #fffc9c;
  font-size: 0.5em;
}
.header p {
  font-size: 1.5em;
  text-align: right;
  color: #fffc9c;
}
.header img {
  width: 100%;
}
.header-success {
  padding: 4em 1em;
  border-bottom: 1px solid #eee;
}
#reservation-btn-area .reservation-btn {
  backbround-color: #aaa;
}
#seatinfo img {
  width: 100%;
}
.required {
  color: #2c95b5;
}
.reservation-info {
  padding: 1em;
  margin: 0 0 1em;
  text-align: center;
  background-color: white;
  background-color: rgba(253, 253, 253, 0.97);
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.reservation-info p strong {
  color: #2c95b5;
  font-size: 1.5em;
}
button {
  float: right;
}
#footer {
  margin: 1em 0 0;
  background-color: #7F8D94;
  padding: 2em;
  text-align: center;
}
#footer p {
  vertical-align: center;
  color: #eee;
}
.btn {
  border: 1px solid #white !important;
}
.success {
  background-color: #fff;
  margin: 3em 0;
}
.success h1 {
  color: #334f5e;
}
.reservation-personinfo {
  padding: 5em 0;
}
.thanks {
  text-align: center;
}
