@reservation-pointcolor: #2C95B5;
@light-yellow: #fffc9c;
@body-color:#DCE3E5;
@text-dark:#334F5E;
@text-nomal: #809196;
body {
  background-color: @body-color !important;

  p{

  }
}
.header {
  text-shadow:0 1px 10px rgba(0,0,0,0.9);
  background-image: url(../images/bg_header.jpeg);
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  clear: both;
  display: block;
  padding: 4em 1em;

  h1 {
    text-align: center;
    font-size: 5em;
    margin:0 0 0.5em 0;
    &>span {
      color: rgba(255, 255, 255, 0.9);
      font-weight:bold;
    }
    &>.span1 {
      color: @light-yellow;
      font-size: 0.5em;
    }
  }
  p {
    font-size: 1.5em;
    text-align: right;
    color: @light-yellow;
  }

  img {
    width: 100%;
  }
}
.header-success {
  padding: 4em 1em;
border-bottom: 1px solid #eee;
}

#reservation-btn-area {
  .reservation-btn {
    backbround-color:#aaa;
  }
}
#seatinfo {
  img {
    width: 100%;
  }
}
.required {
  color: @reservation-pointcolor;
}

.reservation-info {
  padding: 1em;
  margin: 0 0 1em;
  text-align: center;
  background-color: white;
  background-color: rgba(253, 253, 253, 0.97);

  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  p {

    strong {
      color: @reservation-pointcolor;
      font-size: 1.5em;
    }

  }
}
button {
  float:right;
}

#footer {
  margin: 1em 0 0;
  background-color: #7F8D94;
  padding: 2em;
  text-align: center;
  p {
    vertical-align: center;
    color: #eee;
  }
}

.btn {
  border: 1px solid #white !important;

}

.success {
  background-color: #fff;

    margin:3em 0;

}
.success h1 {
  color:@text-dark;
}


.reservation-personinfo {
  padding: 5em 0;
}
.thanks {
  text-align: center;
}