@reservation-pointcolor: #2980b9;

#reservation-btn-area {
	.reservation-btn {
		backbround-color:#aaa;
	}
}
#seatinfo {
	img {
		width: 100%;
	}
}
.required {
	color: @reservation-pointcolor;
}
h1>span {
	color:@reservation-pointcolor;
	font-weight:bold;
}
.span1 {
	color: #333;
	font-size: 0.5em;
}
.rightbutton-area {
	.reservation-info {
		padding: 1em;
		margin: 0 0 1em;
		text-align:center;
		background-color: #fdfdfd;
		border-radius: 5px;
		border:1px solid #ddd;

		p {

			strong {
			color: @reservation-pointcolor;
				font-size: 1.5em;
			}
		
	}
}
	button {
		float:right;
	}
	
}